# Byte-compiled files
*.pyc
__pycache__/

# Distribution/build artifacts
*.egg-info/
dist/

# Editor project files
.idea/
.vscode/

# Development-only directories/files
/assets/
/export/
/tests/
todo.txt
*.swp
