# Include key files
include CHANGELOG.md
include README.md
include LICENSE

# Include YAML config files
recursive-include estimpy/config *.yaml

# Exclude unnecessary directories
prune assets
prune export
prune tests
